<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FuzzyStrings.NetStandard" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.DocIO.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.Windows" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Spreadsheet.Windows" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Compression" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Net.Core" version="18.3.0.44" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.3.0.44" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>